<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Set up a new password for [Product Name]</title>
    </head>
    <body>
        <h1>Hi %%NAME,</h1>
        <p>You recently requested to reset your password for your this account. Use the button below to reset it.</p>
        <a href="%%LINK" class="button button--green" target="_blank">Reset your password</a>
    </body>

</html>